{
  "id": "7f07e97c-af81-6481-5773-ce6acbe0a0ec",
  "name": "extremStartup Dev",
  "values": [
    {
      "enabled": true,
      "key": "domain",
      "value": "4fflywi993.execute-api.eu-west-1.amazonaws.com",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "protocol",
      "value": "https",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "path",
      "value": "dev",
      "type": "text"
    }
  ]
}